#Compiled Python files
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]

# data files
*.parquet
*.txt
!first_tier_list.txt
*.html
*.db
config.json
*.db-shm
*db-wal
debug_news/

#environment
.venv/
venv/
env/
ENV/
*.lock
*.coverage
*.egg-info
.uv-cache/
.pytest_cache/
.mypy_cache/
.ruff_cache/
coverage.xml
browsers/*

#build
build/*
*.spec